.topMenuBar {background-color: #ffffff;}
.topMenuBar .navbar-brand img {height:50px;}
.topMenuBar .navbar-brand {padding:0 !important;}

.topProTitle {position: absolute; left: 0; right: 85px; text-align: center; top: 12px; font-size: 18px; font-weight: 700;}



.mainCont {box-shadow:0 0 25px 0 rgba(146,146,146,.10); border:1px solid #e1e1e1;}


.topTitle {margin-top:0 !important; font-size:22px;}
.projectLogoCol img {height:50px;}

.topBarCol {margin-bottom: 15px;}

/* .floorCel {padding:10px;}
.floorCel button {width:100%;} */

.floorBand { display: flex; display: -webkit-flex; display: -ms-flexbox; margin-bottom:15px;}
.unitCel, .floorCel  {width: calc(100% / 1); text-align: center; padding: 0 10px;}
/* .floorCel  {width:140px !important;} */

.fcData {border: 1px solid grey; border-radius: 4px; padding: 5px;}

.floorTitle {width: calc(100% / 4); text-align: center; padding: 10px;}
.flatTitle {width: calc(100% / 1); text-align: center; padding: 10px;}

.floorCel .fcData, .floorTitle .fcData{width:100px !important;}
.floorCel, .floorTitle{width:auto !important;}


/* .unitSold {background-color: #ff8282 !important;} */
.unitSold {background-color: #ff5252 !important;} 

.unitHold {background-color: #fdff95 !important;}

.unitAvailable {background-color: #a4ed46 !important;}

/* .intervalHold {background-color: #fdff95 !important;} */
.intervalHold {background-color: #ff953f !important;}
 
.inventoryLegendsCol {padding-top: 10px; padding-bottom: 10px;}
.inventoryLegendsCol ul {padding: 0; list-style-type: none;}
.inventoryLegendsCol ul li {float:left; margin-right: 40px; margin-bottom: 10px;}

.inventoryLegendsCol ul li span {width: 10px; height: 10px; display: inline-block; border-radius: 100px;}


.holdforDiscussion {background-color: #e24c8d;}
.soldOut {background-color: #f84747;}
.ilAvailable {background-color: #a4ed46;}
.holdForReallocation {background-color: #ff86e1;}
.allotedThroughOffer {background-color: #f6df00;}
.unitBlockAdmin {background-color: #00e0ec;} 



#inventoryBreadcrumb .breadcrumb {border-radius: 0 !important;}


#inventoryLoader{background-attachment: inherit !important; background-position: center 50px !important;}

 

/* .unitBlock {background-color: #aaf7fb!important;} */
.unitBlock {background-color: #00e0ec !important;}

/* .unitTemp {background-color: #ff8282 !important;} */
.unitTemp {background-color: #ff5252  !important;}
 
/* .unitTempAdmin {background-color: #4b3fc0!important;} */
.unitTempAdmin {background-color: #e24c8d  !important;}


.rowBlockClr {background-color: #dafdff !important;}
.rowHoldClr {background-color: #ffdaea !important;}